<!-- provide styles, external resource links, scripts, etc -->

<style>
	div.level {
		width: fill;
		border: 1px solid lightgray;
		margin:3px;
		padding:3px;
	}

	div.level h4 {
		background-color: lightgray;
		font-size: .8em;
		margin:0px;
	}

	span.native-input-type-string {
		font-size: .8em;
		color: gray;
	}

	div.native-wrapper-div {
		display: block;
	}

	div.native-wrapper-div div.label-wrapper {
		min-width: 100px;
		display: inline-block;
		height: fill;
	}

	div.native-wrapper-div div.input-wrapper {
		min-width: 150px;
		display: inline-block;
		height: fill;
	}

	div.native-wrapper-div div.type-wrapper {
		min-width:100px;
		display: inline-block;
		height: fill;
	}

</style>

{{ inner|safe }}